*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
distribution
.idea
orbbec/build
DepthUtils/build
usb/build
XnLib/build
OpenNI2/build
PS1080/build
OniFile/build
PSLink/build
